<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlujoCreditosExpress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FlujoCreditosExpress.Properties.Settings.FlujoDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FlujoDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <FlujoCreditosExpress.Properties.Settings>
            <setting name="Capital" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tasa01Q" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Tasa02Q" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Tasa03Q" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="Tasa04Q" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Tasa06Q" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="Tasa08Q" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Tasa10Q" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Tasa12Q" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MontoCredito01" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MontoCredito02" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MontoCredito03" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MontoCredito04" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="MontoCredito05" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="MontoCredito06" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="MontoCredito07" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="MontoCredito08" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="MontoCredito09" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="MontoCredito10" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MontoCredito11" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="PerdidaE" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ComisionDistE" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="GastosFijosZafyE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BonosPremiosE" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SessionId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isColocacionConfigured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApCapital" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PeriodoActual" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ClientesNuevos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Clientes2Credito" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColocacionE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CarteraTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetirosE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncrementoDP" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PermanenciaDP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IncrementoDC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PermanenciaDC" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IncrementoDO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PermanenciaDO" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IncrementoMMP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermanenciaMMP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IncrementoMMC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PermanenciaMMC" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IncrementoMMO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PermanenciaMMO" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IncrementoCZP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PermanenciaCZP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IncrementoCZC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PermanenciaCZC" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IncrementoCZO" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PermanenciaCZO" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CantDP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CantDC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CantDO" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CantXDP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CantXDC" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CantXDO" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CredDP" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CredDC" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CredDO" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CantMMP" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CantMMC" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="CantMMO" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ProsMMP" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProsMMC" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ProsMMO" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CredMMP" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="CredMMC" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="CredMMO" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="CantCZP" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CantCZC" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CantCZO" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ProsCZP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProsCZC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProsCZO" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CredCZP" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CredCZC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CredCZO" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EscD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EscMM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EscCZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AportacionAcumulada" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PermanenciaLCP" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PermanenciaLCC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PermanenciaLCO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProsLCP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProsLCC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProsLCO" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ProbTamCel2MCP" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="ProbTamCel3MCP" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ProbTamCel4MCP" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ProbTamCel5MCP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProbTamCel6MCP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel7MCP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel8MCP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel9MCP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel2MCC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProbTamCel3MCC" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ProbTamCel4MCC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProbTamCel5MCC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProbTamCel6MCC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProbTamCel7MCC" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProbTamCel8MCC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel9MCC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProbTamCel2MCO" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProbTamCel3MCO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProbTamCel4MCO" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ProbTamCel5MCO" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProbTamCel6MCO" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ProbTamCel7MCO" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ProbTamCel8MCO" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ProbTamCel9MCO" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CantIniciadoras" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantLideresH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMiembros" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EscLC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideLCP" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LideLCC" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LideLCO" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="CobroXPlasticoI" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IVAInteresI" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SeguroI" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ComAperturaI" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IngresoProsaI" serializeAs="String">
                <value>1.9</value>
            </setting>
            <setting name="GastosFijosPROSAE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GastosVarPROSAE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GastosVarZafyE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GastosXPublicidadE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastIdCliente" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesDistP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMMP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesZafyP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncrementoDVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncrementoMMVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncrementoCZVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsAutomatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CantPeriodos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsToFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Distribuidoras" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMCP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DistribuidorasAnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesXDist" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CreditosXDistP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDistribuidorasOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientesPermanenciaAnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantPP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PermanenciaDVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PermanenciaMMVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PermanenciaCZVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesDistPProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesMMPProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesCZPProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesMCPProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MadresC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HijasC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NietasC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BisnietasC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiembrosC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HijasP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NietasP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BisnietasP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PermanenciaMCVal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantLideresN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesDistPPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesMMPPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesCZPPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CtesMCPPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProsLIAnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProsLHAnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProsLNAnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMiembrosH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMiembrosN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMiembrosB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BisnietasProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NietasProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HijasProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HijasPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NietasPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BisnietasPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsConfigMod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PagoPronto" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PagoTiempo" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PagoTardio1" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PagoTardio2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PagoTardio3" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PagoProntoPerc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoPerc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorColocacion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN1Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN2Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTiempoCN3Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN1Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN2Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio1CN3Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN1Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN2Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio2CN3Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorCumplimiento" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PorCrecimiento" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PorCompletarCelula" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Dist2Credito" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColocacionN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColocacionP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMCPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMCHPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMCNPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientesMCBPerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CantMiembrosIni" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresIBonoB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresIBonoC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresIBonoD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresIProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresHBonoB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresHBonoC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresHBonoD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresHProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresNBonoB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresNBonoC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresNBonoD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LideresNProd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorCumplimientoPerc" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColocacionAcumuladaMC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VolumenAcumuladoMC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorColocacionValorMenor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorColocacionMontoMenor" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PorColocacionValorEntre" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PorColocacionMontoDe" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="PorColocacionMontoHasta" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="PorColocacionValorMayor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PorColocacionMontoMayor" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="PorVolumenValorMenor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PorVolumenVolumenMenor" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PorVolumenValorEntre" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PorVolumenVolumenDe" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="PorVolumenVolumenHasta" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PorVolumenValorMayor" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PorVolumenVolumenMayor" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PagoTardio3CN1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3CN2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3CN3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3CN1Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3CN2Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagoTardio3CN3Perc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LimiteXISRE" serializeAs="String">
                <value>0</value>
            </setting>
        </FlujoCreditosExpress.Properties.Settings>
    </userSettings>
</configuration>